:root {
  font-family: Roboto, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --grey-100: #e5e5e5;
  --grey-200: #f2f2f2;
  --grey-300: #e0e0e0;
  --grey-800: #010101;
  --blue-200: #2c9cdb;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--grey-100);
  color: var(--grey-800);
}
